[submodule "thirdparty/prezto"]
	path = thirdparty/prezto
	url = https://github.com/sorin-ionescu/prezto.git
	ignore = dirty
[submodule "thirdparty/prezto-contrib"]
	path = thirdparty/prezto-contrib
	url = https://github.com/belak/prezto-contrib
	ignore = dirty
[submodule "thirdparty/ohmytmux"]
	path = thirdparty/ohmytmux
	url = https://github.com/gpakosz/.tmux.git
[submodule "nvim"]
	path = nvim
	url = https://github.com/Dephilia/nvim
	branch = main
[submodule "thirdparty/zsh-defer"]
	path = thirdparty/zsh-defer
	url = https://github.com/romkatv/zsh-defer.git
